/*******imports******/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

/******color*******/

/* example using of all fonts  */
/* *{
    font-family: 'Raleway', sans-serif;
} */
/* example using of all fonts  */

:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heven: #fff;
  --footer: #2d333f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
   /* height: 4000px; */
   font-family: 'Raleway', sans-serif;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152;
  }
}

header.topbar {
  background: var(--secondary);
  color: var(--pure);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 0.75rem 0;
}

header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}

header.topbar .icons a {
  margin-right: 0.6rem;
}

header.topbar .auth .divider {
  padding: 0 1rem;
}

header.topbar .auth > div img {
  margin-right: 0.35rem;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;

}
.items-center {
  align-items: center;
}

nav .top{
   padding: 1.5rem 1rem;
   margin: 0 25px 
}

nav .top .contact h5, nav .top .time h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

nav .top .contact h6, nav .top .time h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.055rem;
  color: #6c6c6c;
}

nav .top .contact img, nav .top .time img{
  margin-right: 1rem;
}

.justify-center{
  justify-content: center;
}

nav .navbar a{
  text-decoration: none;
  color: var(--secondary);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 1rem;
  transition: all .3s ease;
}

nav .navbar a.active{
  background: var(--primary);
  color: var(--pure);
}

nav .navbar a:hover{
  background: var(--primary);
  color: var(--pure)
}

.magic-shadow{
  position: relative;
  background: var(--heven);
}

.magic-shadow:after{
  content:"";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../assets/icons/shadow-sm.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -16px;
  z-index: -1;
}

.magic-shadow-sm{
  position: relative;
  background: var(--heven);
}

.magic-shadow-sm:after{
  content:"";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../assets/icons/shadow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: -1;
}


header.hero{
  height: 400px; /*600px*/
  background-image: url(../assets/images/hero.png);
  background-size: 100% auto;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}

header.hero .welcome{
  margin-bottom: 0.25rem;
}

header.hero .welcome span{
  font-family: 'Raleway', sans-serif;
  color: var(--secondary);
  font-weight: 600;
  font-size: 1.3rem;
  margin-right: 0.75rem;
}

header.hero h1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: var(--secondary);
  font-size: 2.4rem;
  margin-bottom: 0.75rem;
}

header.hero h1 span{
  color: var(--primary);
}

header.hero p{
  font-family: 'Raleway', sans-serif;
  width: 70%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.btn{
  padding: 0.70rem 0.75rem;
  border-radius: 4px;
  border: none;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.btn-primary{
background: var(--primary);
color: var(--heven);
}

.btn-primary:hover{
  background: var(--heven);
color: var(--primary);
border: 1px solid var(--primary);
}
.btn-secondary{
  background: var(--secondary);
  color: var(--heven);
}

.btn-secondary:hover{
  background: var(--heven);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}


header.hero button:first-child{
  margin-right: 0.50rem;
}

header.hero .hero-image{
  position: absolute;
  top: 40px;
  right: 40px;
}




section{
  padding: 4rem 0;
}

section.top-products{
  background: var(--light);
}


.section-heading{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.section-heading:after{
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(../assets/icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -40px;
}

section.top-products .food-slider .food-card{
  background: var(--heven);
  padding: 1.5rem 0;
  border-radius: 4px;
  width: 300px;
}

section.top-products .food-slider .food-card .product-image img{
  width: 80%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 1rem;
}

hr{
  border: 1px solid var(--light);
  opacity: 0.8;
  margin: 1rem 0;
}

section.top-products .food-slider .food-card h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
section.top-products .food-slider .food-card {
  width: 300px;
}

.text-center{
  text-align: center;
}

section.top-products .food-slider .food-card .star{
  margin-bottom: 0.25rem;
}

section.top-products .food-slider .food-card .star img{
    margin-right: 0.25rem; 
}

section.top-products .food-slider .food-card .price{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--danger);
  margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--secondary);
  background: var(--heven);
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s ease;
}

section.top-products .food-slider .food-card button:hover{
  background: var(--primary);
  color: var(--heven);
}

.food-slider .food-card button img{
  background: var(--primary);
  padding: 0.50rem;
  height: 32px;
  margin-right: 1.2rem;
}

.slick-slide{
  margin: 0 15px;
  padding: 50px;
}

/* .slick-list{
  /* margin: -27px; */
/* } */ 

.slider .slider-btn{
  width: 30px;
  height: 30px;
  border: none;
  background: var(--primary);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.prev-btn{
  position: absolute;
  top: 45%;
  left: -3rem;
   z-index: -0.5 ;
}

.next-btn{
  position: absolute;
  top: 45%;
  right: -3rem;
  z-index: -0.5; 
}

.top-products .slider{
  position: relative;
}

.top-products .btn-wrapper{
  margin-top: 2rem;
}

.slick-track{
  padding: 1rem 0;
}

section.about-meal img{ 
  width: 100%;
  margin-right: 30px;
}

.flex-1{
  flex: 1;
}

 section.about-meal h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--secondary);
  margin-bottom: 1.5rem;
 line-height: 1; 
}

section.about-meal p{
  line-height: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
} 

section.our-services{
  position: relative;
  z-index: 0;
  background: var(--light)
}

section.our-services .service-card{
  background: var(--heven);
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-right: 1rem;
  padding-top: 4rem;
  position: relative;
  border-radius: 4px;
}
section.our-services .card-wrapper{
  margin-right: -1rem;
}

section.our-services .service-card .icon{
  position: absolute;
  top: -43px;
  left: 50%;
  transform: translateX(-50%);
}

section.our-services .service-card h2{
  font-size: 1rem;
  margin-bottom: 0.5rem;

}
section.our-services .service-card p{
  line-height: 1.6;
  margin-bottom: 2rem;
}

.text-primary{
  color: var(--primary );
  
}

section.big-deal{
  background: linear-gradient(
    rgba(35,43,56,0.9),
    rgba(35,43,56,0.9)
  ), url(../assets/images/food-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section.big-deal .timer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -2rem;
  margin-bottom: 2rem;
}

section.big-deal .timer div{
  margin-right: 2rem;
  background: var(--primary);
  width: 100px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.big-deal .timer div span:first-child{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: var(--heven);
  font-size: 2rem;
  margin-bottom: 0.05rem;

}

section.big-deal .timer div span:last-child{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--heven);
}

.text-pure{
  color: var(--pure);
}

.latest-news .article-wrapper .card{
  margin-right: 2rem;
  background: var(--heven);
  border-radius: 4px;
}

.latest-news .article-wrapper .card img{
  width: 100%;
}

section.latest-news{
  background: var(--light);
  position: relative;
  z-index: 0;
}

section.latest-news .article-wrapper{
  display: flex;
  margin-right: -2rem;
}

.latest-news .article-wrapper .card .card-content{
  padding: 2rem;
}
.latest-news .article-wrapper .card .card-content .post-meta{
  margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.latest-news .article-wrapper .card.card-content p{
  line-height: 1.6rem;
}

.latest-news .btn-wrapper{
  margin-top: 2rem;
}

section.subscribe .container > div:first-child img{
  width: 90%;
}

section.subscribe .container > div:first-child{
  flex: 1;
}
section.subscribe .container > div:last-child{
  flex: 1;
}

section.subscribe{
  background: var(--primary);
}

section.subscribe h1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
section.subscribe p{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

section.subscribe .input-wrap{
  background: var(--heven);
  display: flex;
  padding: 0.3rem;
  border-radius: 4px;

}

section.subscribe .input-wrap input{
  width: 100%;
  border: none;
padding: 0 1rem;
font-size: 1rem ;
}

section.subscribe .input-wrap input:focus{
  outline: none;
}

section.subscribe .input-wrap button{
  padding: 0.8rem 2rem;
  border: none;
  background: var(--primary);
  color: var(--pure);
  border-radius: 4px;
font-size: 1rem;
cursor: pointer;
transition: .3s ease ;
outline: none;
}

section.subscribe .input-wrap button:hover{
  background: var(--secondary);
}

section.contact-us {
  padding-top: 0;
  padding-bottom: 0;
}

section.contact-us .contact-info-wrapper{
  padding: 4rem;
  flex: 1;
}

section.contact-us .map{
  flex:1;
  filter: grayscale(50%);
}

section.contact-us .contact-info{
  display: flex;
  justify-content: center;
}

section.contact-us .contact-info > div > div{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}


section.contact-us .contact-info > div > div img{
  margin-right: 1rem;

}

section.contact-us .contact-info > div > div > div{
  display: flex;
  flex-direction: column;
}

section.contact-us .contact-info > div > div .div span:first-child{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 0.25rem;
}